
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*palabra clave para repeter la fraccion equivalente por la cantidad indicada antes de la coma*/
    gap: 1em;
    grid-auto-rows: minmax(100px, auto); 
   
    align-items: stretch; /*cuando hablamos de un estilo aplicar en la columna/fila entera debemos aplicar este o justify-items*/
}
.element-one{
    align-self: start;
}
.element-two{
    align-self: center;
}
.element-three{
    align-self: end;
}
.element-four{
    justify-self: start; /*cuando hablamos de un estilo aplicar en los elementos debemos aplicar este o justify-self:*/
}
.element-five{
    justify-self: center;
}
.element-six{
    justify-self: end;
}

.grid >div{
    background: #ecf0f1;
    padding: 1em;
}
.grid > div:hover{
    border: solid 1px #f1c40f;
}