
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*palabra clave para repeter la fraccion equivalente por la cantidad indicada antes de la coma*/
    gap: 1em;
    grid-auto-rows: minmax(100px, auto); 
   
    align-items: stretch; /*cuando hablamos de un estilo aplicar en la columna/fila entera debemos aplicar este o justify-items*/
}
.element-one{
    grid-column: 1/4;
    grid-row: 1/4;
}
.element-two{
    grid-column: 1/2;
}
.element-three{
    grid-column: 2/4;
}
.grid >div{
    background: #ecf0f1;
    padding: 1em;
}
.grid > div:hover{
    border: solid 1px #f1c40f;
}