
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /*palabra clave para repeter la fraccion equivalente por la cantidad indicada antes de la coma*/
    
   
}
.grid div{
    background: #ecf0f1;
    padding: 1em;
}
.grid  div:hover{
    border: solid 1px #f1c40f;
}